{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "helpers": "./helpers",
        "app": "./app",
        "db": "./db"
      }
    }]
  ]
}